In [2]:
import pandas as pd

data=pd.read_csv("GDP_wikipedia.csv")
data.head()

,Country/Territory,IMF[1][12],IMF[1][12].1,World Bank[13],World Bank[13].1,United Nations[14],United Nations[14].1
0,Country/Territory,Forecast,Year,Estimate,Year,Estimate,Year
1,World,113795678,2025,111326370,2024,100834796,2022
2,United States,30507217,2025,29184890,2024,27720700,2023
3,China,19231705,[n 1]2025,18743803,[n 3]2024,17794782,[n 1]2023
4,Germany,4744804,2025,4659929,2024,4525704,2023

In [4]:
print(data.columns)

Index(['Country/Territory', 'IMF[1][12]', 'IMF[1][12].1', 'World Bank[13]',
       'World Bank[13].1', 'United Nations[14]', 'United Nations[14].1'],
      dtype='object')

In [36]:
data.rename(columns={
    data.columns[0]: 'Country',
    data.columns[1]: 'IMF-Estimate',
    data.columns[2]: 'IMF-Year',
    data.columns[3]: 'World-Estimate',
    data.columns[4]: 'World-Year',
    data.columns[5]: 'United Nations-Estimate',
    data.columns[6]: 'United Nations-Year'
}, inplace=True)

print(data.columns)

data['IMF-Year'] = data['IMF-Year'].str.replace(r'\[\d+\]', '', regex=True)
data['World-Year'] = data['World-Year'].str.replace(r'\[\d+\]', '', regex=True)
data['United Nations-Year'] = data['United Nations-Year'].str.replace(r'\[.*?\]', '', regex=True)

data = data.replace(['-', '', 'â€“'], pd.NA)
data.isnull().sum()

Index(['Country', 'IMF-Estimate', 'IMF-Year', 'World-Estimate', 'World-Year',
       'United Nations-Estimate', 'United Nations-Year'],
      dtype='object')

Country                    0
IMF-Estimate               0
IMF-Year                   0
World-Estimate             0
World-Year                 0
United Nations-Estimate    0
United Nations-Year        0
dtype: int64

In [35]:
data.head(100)

,Country,IMF-Estimate,IMF-Year,World-Estimate,World-Year,United Nations-Estimate,United Nations-Year
0,World,113795678.0,2025,111326370,2024,100834796,2022
1,United States,30507217.0,2025,29184890,2024,27720700,2023
2,China,19231705.0,2025,18743803,2024,17794782,2023
3,Germany,4744804.0,2025,4659929,2024,4525704,2023
4,India,4187017.0,2025,3912686,2024,3575778,2023
...,...,...,...,...,...,...,...
95,Bahrain,47829.0,2025,47737,2024,44662,2023
96,Libya,47484.0,2025,46636,2024,44030,2023
97,Nepal,46080.0,2025,42914,2024,40484,2023
98,Latvia,45535.0,2025,43521,2024,42248,2023
99,Paraguay,45465.0,2025,44458,2024,42955,2023

In [37]:
pop_cols = ['IMF-Estimate', 'World-Estimate', 'United Nations-Estimate']
for col in pop_cols:
    data[col] = data[col].astype(str).str.replace(',', '').str.strip()
    data[col] = pd.to_numeric(data[col], errors='coerce')
print(data[pop_cols].dtypes)

IMF-Estimate               float64
World-Estimate             float64
United Nations-Estimate    float64
dtype: object

In [38]:
print(data[pop_cols].mean())

IMF-Estimate               1.194913e+06
World-Estimate             1.185519e+06
United Nations-Estimate    1.086049e+06
dtype: float64

In [39]:
print(data[pop_cols].median())

IMF-Estimate               48814.0
World-Estimate             48702.5
United Nations-Estimate    44030.0
dtype: float64

In [42]:
print("\nTop 10 by IMF Estimate")
print(data[['Country', 'IMF-Estimate']].sort_values(by='IMF-Estimate', ascending=False).head(10))

print("\nTop 10 by World Estimate")
print(data[['Country', 'World-Estimate']].sort_values(by='World-Estimate', ascending=False).head(10))

print("\nTop 10 by UN Estimate")
print(data[['Country', 'United Nations-Estimate']].sort_values(by='United Nations-Estimate', ascending=False).head(10))

Top 10 by IMF Estimate
          Country  IMF-Estimate
0           World   113795678.0
1   United States    30507217.0
2           China    19231705.0
3         Germany     4744804.0
4           India     4187017.0
5           Japan     4186431.0
6  United Kingdom     3839180.0
7          France     3211292.0
8           Italy     2422855.0
9          Canada     2225341.0

Top 10 by World Estimate
          Country  World-Estimate
0           World     111326370.0
1   United States      29184890.0
2           China      18743803.0
3         Germany       4659929.0
5           Japan       4026211.0
4           India       3912686.0
6  United Kingdom       3643834.0
7          France       3162079.0
8           Italy       2372775.0
9          Canada       2241253.0

Top 10 by UN Estimate
           Country  United Nations-Estimate
0            World              100834796.0
1    United States               27720700.0
2            China               17794782.0
3          Germany                4525704.0
5            Japan                4204495.0
4            India                3575778.0
6   United Kingdom                3380855.0
7           France                3051832.0
8            Italy                2300941.0
10          Brazil                2191132.0

In [43]:
print("\nBottom 10 by IMF Estimate")
print(data[['Country', 'IMF-Estimate']].sort_values(by='IMF-Estimate', ascending=True).head(10))

print("\nBottom 10 by World Estimate")
print(data[['Country', 'World-Estimate']].sort_values(by='World-Estimate', ascending=True).head(10))

print("\nBottom 10 by UN Estimate")
print(data[['Country', 'United Nations-Estimate']].sort_values(by='United Nations-Estimate', ascending=True).head(10))

Bottom 10 by IMF Estimate
                   Country  IMF-Estimate
189                 Tuvalu          65.0
188                  Nauru         169.0
187       Marshall Islands         297.0
186               Kiribati         312.0
185                  Palau         333.0
184             Micronesia         500.0
183                  Tonga         568.0
182               Dominica         742.0
181  SÃ£o TomÃ© and PrÃ­ncipe         864.0
180  Saint Kitts and Nevis        1129.0

Bottom 10 by World Estimate
                   Country  World-Estimate
189                 Tuvalu            62.0
188                  Nauru           160.0
187       Marshall Islands           280.0
185                  Palau           282.0
186               Kiribati           308.0
184             Micronesia           471.0
183                  Tonga           509.0
182               Dominica           689.0
181  SÃ£o TomÃ© and PrÃ­ncipe           764.0
180  Saint Kitts and Nevis          1067.0

Bottom 10 by UN Estimate
                   Country  United Nations-Estimate
189                 Tuvalu                     68.0
188                  Nauru                    176.0
187       Marshall Islands                    270.0
185                  Palau                    282.0
186               Kiribati                    289.0
184             Micronesia                    460.0
183                  Tonga                    508.0
182               Dominica                    651.0
181  SÃ£o TomÃ© and PrÃ­ncipe                    684.0
179                  Samoa                   1032.0

In [44]:
data.to_csv("cleaned_GDP.csv",index=False)

In [47]:
df_viz = data[['Country', 'IMF-Estimate']].dropna()

df_viz['Rank'] = df_viz['IMF-Estimate'].rank(ascending=False, method='dense')

df_viz['Top10'] = df_viz['Rank'] <= 10

df_viz.to_csv("gdp_tableau_ready.csv", index=False)